  body {
  margin: 0;
  background-color: #9bdcfa ; 
  font-family: 'Nova Script', cursive;
  color: #000;
  overflow-x: hidden;
}
.button {
      position: absolute;
      top: 100px;
      left: 220px;
      display: flex;
    }
.button-labelA {
      margin-top: 6px;
      font-size: 26px;
      font-family: 'Nova Script', cursive;
      color: #0a26a3; 
      text-shadow: 0 0 4px #000000aa; 
	} 
.button_containerR{
      position: absolute;
      top: 400px;
      left: 0px;
      z-index: 100;
    }
.right_button{
      width: 70px;
      height: auto;
      border-radius: 100%;
      transition: transform 0.3s ease;
    }

.right-img-button{
      width: 130px;
      height: auto;
      transition: transform 0.2s ease;
      cursor: pointer;
      border-radius: 65%;
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.5),
                  0 0 16px rgba(208, 128, 255, 0.6);
      transition: 0.3s ease;
    }
  
.right-img-button:hover {
      transform: scale(1.05);
      border-radius: 75%;
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.5),
                  0 0 16px rgba(208, 128, 255, 0.6);
      transition: 0.3s ease;
    }
  
.button_containerL{
      position: absolute;
      top: 400px;
      right: 0px;
      z-index: 100;
    }
.left_Button{
      width: 70px;
      height: auto;
      border-radius: 100%;
      transition: transform 0.3s ease;
    }
	
.left-img-button{
      width: 130px;
      height: auto;
      transition: transform 0.2s ease;
      cursor: pointer;
      border-radius: 65%;
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.5),
                  0 0 16px rgba(208, 128, 255, 0.6);
      transition: 0.3s ease;
   }	
  
.left-img-button:hover {
      transform: scale(1.05);
      border-radius: 100%;
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.5),
                  0 0 16px rgba(208, 128, 255, 0.6);
      transition: 0.3s ease;
    }
.Ahome-button-link {
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 10;
      text-decoration: none;
    }

.Ahome-img-button {
      width: 70px;
      height: auto;
      transition: transform 0.2s ease;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.5),
              0 0 16px rgba(208, 128, 255, 0.6);
      transition: 0.3s ease;
    }

.Ahome-img-button:hover {
      transform: scale(1.05);
      border-radius: 50%;
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.5),
              0 0 16px rgba(208, 128, 255, 0.6);
      transition: 0.3s ease;
    }
  .btn-container {
      position: relative;
      display:columns ;
      left: 150px;
      Top:100px;
      margin: 60px;
      cursor: pointer;
      transition: transform 0.3s;
    }
.btn-container:hover {
      transform: scale(1.05);
}
.btn-container img {
      width: 150px;
      border-radius: 50%;
      transition: filter 0.3s;
}
.hover-text {
      position: absolute;
      bottom: -5px;
      left: 30%;
      transform: translateX(-50%);
      background: rgba(255,255,255,0.8);
      color: #333;
      padding: 6px 12px;
      border-radius: 12px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.4s ease-in-out;
}
.btn-container:hover .hover-text {
      opacity: 1;
}
.overlay {
      position: fixed;
      top: 0; left: 0;
      width: 60vw; height: 60vh;
      background-color:  #6bb5f8	;
      backdrop-filter: blur(6px);
      display: none;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 1000;
	  left:475px;
	  top:150px;
	  flex-direction:columns;
	  padding: 2rem 1.5rem;

}
.overlay-content {
  background: transparent;
  padding: 20px;
  border-radius: 20px;
  max-width: 100%;
  text-align: left;  
}
.close-btn {
      position: absolute;
      top: 40px;
      right: 60px;
      font-size: 32px;
      cursor: pointer;
      color: #fff;
}
.explain {
  display: block;
  margin-left: 4rem;
  margin-right: 4rem;

}
.overlay-content1 {
  background: transparent;
  padding: 20px;
  border-radius: 20px;
  max-width: 100%;
  text-align: left;  


}