body {
  margin: 0;
  background-color: #7b04b3;
  font-family: 'Oooh Baby', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-bubble-wrapper {
  position: relative;
  display: inline-block;
}

.image-panel {
  width: 500px;
  height: auto;
  display: block;
}

.image-panel img {
  width: 100%;
  height: auto;
  display: block;
}

.bubble {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #8a02eb;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  white-space: nowrap;
}

.home-button {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10;
  text-decoration: none;
}

.home-button img {
  width: 70px;
  height: auto;
  transition: transform 0.2s ease;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 50%;
}

.home-button:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
